div {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-end;
  align-items: stretch;
  flex: 1 1 0%;
}

ul {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

ul li {
  list-style: none;
  margin-left: 20px;
}